@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: kodemono;
	src: url('@/assets/fonts/KodeMono.ttf');
}

@font-face {
	font-family: caveat;
	src: url('@/assets/fonts/Caveat.ttf');
}

$menu-link-color: yellow;

.router-link-active {
	color: $menu-link-color;
}

nav {
	font-family: kodemono;
}