@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: kodemono;
	src: url('http://localhost:5124/src/assets/fonts/KodeMono.ttf');
}

$menu-link-color: yellow;

.router-link-active {
	color: $menu-link-color;
}

nav {
	font-family: kodemono;
}